/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HelveticaNeue";

  src: url("./helvetica-neue.woff") format("woff"), /* Modern Browsers */
    url("./helvetica-neue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
