*
  text-decoration none
  outline none
  resize none
  border none
  padding 0
  margin 0

html
  overflow auto

body
  font-family 'HelveticaNeue', 'Roboto', Arial

.cursor
  &-pointer
    cursor pointer !important
  &-default
    cursor default !important
  &-disabled
    cursor not-allowed !important

.blur
  filter blur(7px) !important

.overflow
  &-auto
    overflow auto
